<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GMDB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a>GMDB</a></li>
                <li class="nav-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#login">Login</a>
                </li>
                <a id="searcher"><div class="search">
                    <form>
                      <input type="text" placeholder="Search" name="search">
                      <button type="button">Search</button>
                    </form>
                </div></a>
                
            </ul>


        </nav>

        <article id='movie'>
            <container id="container">
            <div id='movie image'>
                <img src="../Images/2.jpg" alt="movie poster" style="widows: 300px;;height:300px;">
                <form>
                    <label>Leave a comment</label>
                    <input type="text">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div id="movie info">
                <h1>
                    Your Movie
                </h1>
                <h3>Released Month Date, Year</h3>
                <h4>Category | Actor 1, Actor 2, Actor 3</h4>
                <p>This is a great description of the movie you clicked on to read more about..</p>
            </div>
        </container>
         
        </article>

        <footer>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a>GMDB</a></li>
                    <li class="nav-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#login">Login</a>
                    </li>
                    <a id="searcher"><div class="search">
                        <form>
                          <input type="text" placeholder="Search" name="search">
                          <button id="nav-btn" type="button">Search</button>
                        </form>
                    </div></a>
                    
                </ul>
                
    
    
            </nav>
            </footer>




     
        <script src="" async defer></script>
    </body>
</html>